<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>blogMap</title>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=80ba3a960350d6472f826834f6f9003a"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/layui@2.6.4/dist/layui.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=80ba3a960350d6472f826834f6f9003a&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>

    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/layui@2.6.4/dist/css/layui.css">
</head>

<style>
    #top {
        height: 80px;
        background-color: #035bbf;
        color: white;
        font-size: 30px;
    }
    .topA {
        padding-left: 20px;
        padding-top: 22px;
        text-align: left;
    }
    .topB {
        padding-top: 22px;
        text-align: center;
    }
    .topC {
        padding-top: 22px;
        padding-right: 50px;
        text-align: right;
    }
    #allmap {

    }
    #myPageTop {
        position: absolute;
        top: 90px;
    }
</style>

<body>

    <!-- 登录页弹出层 -->
    <form id="loginPop" class="layui-form" style="display: none;margin-top: 30px" @submit.prevent>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名:</label>
            <div class="layui-input-block">
                <input type="text" id="uname" placeholder="请输入用户名" class="layui-input" style="width: 230px">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-block">
                <input type="password" id="upass" placeholder="请输入密码" class="layui-input" style="width: 230px">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" onclick="popLogin();">立即提交</button>
                <button type="button" class="layui-btn layui-btn-normal" onclick="popRegister()">注册账号</button>
            </div>
        </div>
    </form>

    <!-- 注册页弹出层 -->
    <form id="RegisterPop" class="layui-form" style="display: none;margin-top: 15px" @submit.prevent>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名:</label>
            <div class="layui-input-block">
                <input type="text" id="usname" placeholder="请输入用户名" class="layui-input" style="width: 230px">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-block">
                <input type="password" id="uspass" placeholder="请输入密码" class="layui-input" style="width: 230px">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">确认密码:</label>
            <div class="layui-input-block">
                <input type="password" id="uspass2" placeholder="请确认密码" class="layui-input" style="width: 230px">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal" onclick="Register();">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-normal">重新输入</button>
            </div>
        </div>
    </form>

    <!-- layui Form -->
    <script>
        layui.use('form', function(){
            var form = layui.form;
        });

        // 弹出层登录按钮
        function popLogin() {
            let params = new URLSearchParams();
            params.append("uname",$('#uname').val())
            params.append("upass",$('#upass').val())

            axios.post("http://localhost:8080/login",params).then(resp => {
                if(resp.data === '用户不存在') {
                    layer.msg("用户不存在 !")
                }else if(resp.data === '密码有误') {
                    layer.msg("密码有误 !")
                }else {
                    sessionStorage.setItem("user",resp.data);
                    sessionStorage.setItem("userName",$('#uname').val());
                    layer.closeAll();
                    window.location.reload();
                }
            })
        }
        // 弹出注册层
        function popRegister() {
            layer.closeAll();
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    type: 1,
                    title: "Register",
                    area: ['380px', '300px'],
                    content: $("#RegisterPop")
                });
            });
        }
        // 弹出注册层注册按钮
        function Register() {
            if($('#uspass2').val() !== $('#uspass').val()) {
                layer.msg("两次输入密码不一致 !");
            }else {
                let params = new URLSearchParams();
                params.append("usname",$('#usname').val())
                params.append("uspass",$('#uspass').val())

                axios.post("http://localhost:8080/register",params).then(resp => {
                    layer.msg("注册成功，请返回登录 !")
                })
            }
        }
    </script>

    <!-- Top栏 -->
    <div id="top" class="layui-row">
        <div class="layui-col-md4 topA">
            <i class="fas fa-map-marker-alt"></i> &nbsp; BlogMap
        </div>

        <div class="layui-col-md4 topB">
            <span>星语博客</span>
        </div>

        <div class="layui-col-md4 topC">
            <i class="fas fa-crosshairs" style="margin-right: 20px" @click="getLocation();"></i>
            <i class="fas fa-user" @click="login();" v-if="!isLogged"></i>
            <i class="fas fa-power-off" @click="logout();" v-if="isLogged"></i>
        </div>
    </div>

    <!-- 高德地图容器 -->
    <div id="allmap" style="height: 670px"></div>

    <!-- 地点搜索 -->
    <div id="myPageTop">
        <table>
            <tr>
                <td>
                    <form class="layui-form" onsubmit="false">
                        <div class="layui-form-item">
                            <label class="layui-form-label"><strong>地点查询:</strong></label>
                            <div class="layui-input-block">
                                <input type="text" id="tipinput" placeholder="请输入地点" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <!-- 发博客富文本编辑器容器 -->
    <div id="editors" style="display: none">
        <div id="editor"></div>
        <button class="layui-btn layui-btn-normal" id="postBlog"
                style="margin-top: 15px;margin-left: 260px">
            发布
        </button>
    </div>

    <!-- 写评论编辑器 -->
    <div id="comments" style="display: none">
        <textarea id="commentContent" style="height: 360px;width: 550px;margin-left: 20px;margin-top: 12px"></textarea>
        <button class="layui-btn layui-btn-normal" id="postCommentInPop"
                style="margin-top: 15px;margin-left: 260px">
            提交评论
        </button>
    </div>

    <!-- 展示博客弹出层 -->
    <div id="showBlog" style="display: none">
        <div id="A" style="display: none"></div>

        <div id="B"></div>

        <div id="postTime" style="text-align: right;margin-right: 20px;margin-top:20px"></div>

        <div id="delBlog" style="text-align: right;margin-right: 20px;margin-top:8px">
            <a id="delBlog1" href="javascript:;" style="color: blue;" v-if="isBlogger">
                删除这篇博客
            </a>

            <a id="postComment" href="javascript:;" style="color: blue;" v-if="isUser">
                写评论
            </a>
        </div>

        <div style="padding-left: 2px">
            <strong>评论区:</strong>
        </div>

        <div id="showComment"></div>
    </div>

    <!-- 富文本编辑器 JS -->
    <script>
        const E = window.wangEditor

        const editor = new E('#editor')
        editor.create()

        const editord = new E("#A", "#B");
        editord.create();
        editord.disable();
    </script>

    <!-- AMap JS -->
    <script>
        var map = new AMap.Map('allmap', {
            zoom: 10, // 地图初始化级别
            resizeEnable: true, // 初始化加载定位到当前城市
            viewMode: '3D'
        });

        //输入提示
        var autoOptions = {
            input: "tipinput"
        };
        var auto = new AMap.Autocomplete(autoOptions);
        var placeSearch = new AMap.PlaceSearch({
            map: map
        });  //构造地点查询类
        AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
        function select(e) {
            placeSearch.setCity(e.poi.adcode);
            placeSearch.search(e.poi.name);  //关键字查询查询
        }

        // 地图加载完毕执行事件
        map.on('complete', function() {

            AMap.plugin('AMap.Geolocation', function() {
                var geolocation = new AMap.Geolocation({
                    enableHighAccuracy: true,  //是否使用高精度定位，默认:true
                    timeout: 10000,           //超过10秒后停止定位，默认：5s
                    zoomToAccuracy: true,     //定位成功后是否自动调整地图视野到定位点
                    showButton: false,         //是否显示定位按钮
                });
                map.addControl(geolocation);
                geolocation.getCurrentPosition();
            });

            axios.get("http://localhost:8080/getAllPoint").then(resp => {
               if(resp.data !== []) {
                   var markerList = [];

                   resp.data.forEach(mark => {
                       var marker = new AMap.Marker({
                           icon: new AMap.Icon({
                               image: "https://a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-red.png",
                               size: new AMap.Size(30, 40),
                               imageSize: new AMap.Size(30,40)
                           }),
                           position: mark,
                           imageSize: new AMap.Size(10, 10)
                       });

                       markerList.push(marker)

                       marker.on('click',e => {
                           let params = new URLSearchParams();
                           params.append('lng',mark[0]);
                           params.append('lat',mark[1]);

                           axios.post("http://localhost:8080/getContent",params).then(resp => {
                               editord.txt.html(resp.data[0].content)
                               $("#postTime").html("<small>发布时间:"+resp.data[0].postTime+"</small>")

                               // 展示评论
                               axios.post("http://localhost:8080/getComments",params).then(resp => {

                                   $("#showComment").html("");

                                   if(resp.data.length !== 0) {
                                        resp.data.forEach(cmt => {
                                            console.log(cmt.uname+","+cmt.content+","+cmt.postTime);

                                            $("#showComment").append("<hr/>");

                                            $("#showComment").append("<strong style=\"padding-left: 8px\">"+cmt.uname+"</strong> " +
                                                "<br><br>");

                                            $("#showComment").append("<span style=\"margin-left: 30px\">"+cmt.content+"</span> " +
                                                "<br><br>");

                                            $("#showComment").append("<div style=\"text-align: right;margin-right: 18px\"><small>发布时间:"+cmt.postTime +
                                                "</small></div>");
                                        });
                                   }
                               });
                           });

                           $('#delBlog1').unbind('click');

                           $('#delBlog1').on('click',() => {
                               axios.post("http://localhost:8080/delBlog",params).then(resp => {
                                   layer.closeAll();
                                   map.remove(marker);
                               })
                           });

                           $('#postComment').unbind('click');

                           $('#postComment').on('click',() => {
                               $('#commentContent').val("");
                               layer.open({
                                   type: 1,
                                   title: "写评论",
                                   area: ['600px', '500px'],
                                   content: $("#comments")
                               });
                           });

                           $('#postCommentInPop').unbind('click');

                           $('#postCommentInPop').on('click',() => {
                               let params2 = new URLSearchParams();
                               params2.append("uname",sessionStorage.getItem("userName"));
                               params2.append("content",$('#commentContent').val());
                               params2.append("lng",mark[0]);
                               params2.append("lat",mark[1]);

                               axios.post("http://localhost:8080/postComment",params2).then(resp => {
                                  layer.closeAll();
                               });
                           });

                           layer.open({
                               type: 1,
                               title: '博客展示',
                               shadeClose: true,
                               shade: 0.6,
                               area: ['30%', '90%'],
                               content: $("#showBlog")
                           });
                       });
                   });

                   map.add(markerList);
               }
            });
        });

        map.on('click', function(e) {

            if(sessionStorage.getItem('user') === null) {
                layer.msg("未登录，不能发布博客");
                map.remove(marker);
            }else if(sessionStorage.getItem('user') === '普通用户') {
                layer.msg("普通用户不能发布博客");
                map.remove(marker);
            }else if(sessionStorage.getItem('user') === '博主') {

                layer.confirm('在这发布博客？', {
                    btn: ['是的','再想想'] //按钮
                }, function(){

                    var marker = new AMap.Marker({
                        icon: new AMap.Icon({
                            image: "https://a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-red.png",
                            size: new AMap.Size(30, 40),
                            imageSize: new AMap.Size(30,40)
                        }),
                        position: [e.lnglat.getLng(), e.lnglat.getLat()],
                    });

                    map.add(marker);

                    layer.open({
                        type: 1,
                        title: "写博客",
                        area: ['600px', '500px'],
                        content: $("#editors")
                    });

                }, function() {}
                );
            }

            $('#postBlog').unbind('click');

            $('#postBlog').on('click',() => {
                let params = new URLSearchParams();
                params.append("content",editor.txt.html());
                params.append("lng",e.lnglat.getLng());
                params.append("lat",e.lnglat.getLat());

                axios.post("http://localhost:8080/postBlog",params).then(resp => {
                    layer.closeAll();
                    window.location.reload();
                })
            })
        });
    </script>

    <!-- Vue JS -->
    <script>
        var top = new Vue({
            el:"#top",
            methods: {
                getLocation:function() {
                    AMap.plugin('AMap.Geolocation', function() {
                        var geolocation = new AMap.Geolocation({
                            enableHighAccuracy: true,  //是否使用高精度定位，默认:true
                            timeout: 10000,           //超过10秒后停止定位，默认：5s
                            zoomToAccuracy: true,     //定位成功后是否自动调整地图视野到定位点
                            showButton: false,         //是否显示定位按钮
                        });
                        map.addControl(geolocation);
                        geolocation.getCurrentPosition();
                    });
                },
                login:function() {
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.open({
                            type: 1,
                            title: "Login",
                            area: ['380px', '300px'],
                            content: $("#loginPop")
                        });
                    });
                },
                logout:function() {
                    sessionStorage.removeItem('user');
                    window.location.reload();
                }
            },
            computed: {
                isLogged:function() {
                    return sessionStorage.getItem('user') === null? false : true;
                }
            }
        });

        var delBlog = new Vue({
            el: '#delBlog',
            computed: {
                isBlogger:function() {
                    return sessionStorage.getItem('user') === "博主"? true : false;
                },
                isUser:function() {
                    return sessionStorage.getItem('user') === "普通用户"? true : false;
                }
            }
        });
    </script>
</body>
</html>