<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
<!--        <setting name="logImpl" value="log4j"/>-->
    </settings>
    <!--取别名-->
    <typeAliases>
        <package name="com.myself.blog_api.pojo"/>
    </typeAliases>

    <!--绑定mapper，根据自己的项目设置-->
    <mappers>
        <package name="com.myself.blog_api.mapper"/>
    </mappers>
</configuration>