<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myself.demo.Dao.UserMapper">
    <select id="getUserList" resultType="User">
        select * from user
    </select>

    <select id="getUserByName" parameterType="String" resultType="User">
        select * from user where uname = #{ name }
    </select>
    
    <insert id="addUser" parameterType="User">
        insert into user(uname,upwd) values (#{ uname },#{ upwd })
    </insert>

    <delete id="deleteUser" parameterType="User">
        delete from user where uname = #{ uname }
    </delete>

    <update id="updateUser" parameterType="String">
        update user set upwd = "root123" where uname = #{ name }
    </update>
</mapper>